## 1. Classic American names
<p><img src="https://assets.datacamp.com/production/project_1441/img/name.jpg" alt="Lots of name tags piled on top of each other." width="600"></p>
<p>Photo by Travis Wise on <a href="https://commons.wikimedia.org/wiki/File:Hello_My_Name_Is_(15283079263).jpg">Wikimedia</a>.</p>
<p>How have American baby name tastes changed since 1920?  Which names have remained popular for over 100 years, and how do those names compare to more recent top baby names? These are considerations for many new parents, but the skills we'll practice while answering these queries are broadly applicable. After all, understanding trends and popularity is important for many businesses, too! </p>
<p>We'll be working with data provided by the United States Social Security Administration, which lists first names along with the number and sex of babies they were given to in each year. For processing speed purposes, we've limited the dataset to first names which were given to over 5,000 American babies in a given year. Our data spans 101 years, from 1920 through 2020.</p>
<h3 id="baby_names"><code>baby_names</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>year</td>
</tr>
<tr>
<td style="text-align:left;"><code>first_name</code></td>
<td>varchar</td>
<td>first name</td>
</tr>
<tr>
<td style="text-align:left;"><code>sex</code></td>
<td>varchar</td>
<td><code>sex</code> of babies given <code>first_name</code></td>
</tr>
<tr>
<td style="text-align:left;"><code>num</code></td>
<td>int</td>
<td>number of babies of <code>sex</code> given <code>first_name</code> in that <code>year</code></td>
</tr>
</tbody>
</table>
<p>Let's get oriented to American baby name tastes by looking at the names that have stood the test of time!</p>

In [43]:
%%sql
postgresql:///names
    
SELECT first_name,SUM(num)
FROM baby_names 
GROUP BY 1
HAVING COUNT(year) = 101
ORDER BY 2 DESC;

8 rows affected.

[('James', 4748138),
 ('John', 4510721),
 ('William', 3614424),
 ('David', 3571498),
 ('Joseph', 2361382),
 ('Thomas', 2166802),
 ('Charles', 2112352),
 ('Elizabeth', 1436286)]

## 2. Timeless or trendy?
<p>Wow, it looks like there are a lot of timeless traditionally male names! Elizabeth is holding her own for the female names, too. </p>
<p>Now, let's broaden our understanding of the dataset by looking at all names. We'll attempt to capture the type of popularity that each name in the dataset enjoyed. Was the name classic and popular across many years or trendy, only popular for a few years? Let's find out. </p>

In [44]:
%%sql
SELECT first_name, SUM(num), CASE WHEN COUNT(year) > 80 THEN 'CLASSIC' WHEN COUNT(year) > 50 THEN 'SEMI-CLASSIC' WHEN COUNT(year) > 20 THEN 'TRENDY' ELSE 'SEMI_TRENDY' END AS popularity_type 
FROM baby_names
GROUP BY 1
ORDER BY 1;

 * postgresql:///names
547 rows affected.

[('Aaliyah', 15870, 'SEMI_TRENDY'),
 ('Aaron', 530592, 'SEMI-CLASSIC'),
 ('Abigail', 338485, 'TRENDY'),
 ('Adam', 497293, 'TRENDY'),
 ('Addison', 107433, 'SEMI_TRENDY'),
 ('Adrian', 147741, 'TRENDY'),
 ('Aidan', 68566, 'SEMI_TRENDY'),
 ('Aiden', 216194, 'SEMI_TRENDY'),
 ('Alan', 162041, 'TRENDY'),
 ('Albert', 260945, 'TRENDY'),
 ('Alex', 158677, 'TRENDY'),
 ('Alexa', 33522, 'SEMI_TRENDY'),
 ('Alexander', 579854, 'TRENDY'),
 ('Alexandra', 167122, 'TRENDY'),
 ('Alexandria', 5026, 'SEMI_TRENDY'),
 ('Alexis', 282149, 'TRENDY'),
 ('Alfred', 16260, 'SEMI_TRENDY'),
 ('Alice', 296559, 'TRENDY'),
 ('Alicia', 84579, 'SEMI_TRENDY'),
 ('Allen', 10256, 'SEMI_TRENDY'),
 ('Allison', 214995, 'TRENDY'),
 ('Alyssa', 269134, 'TRENDY'),
 ('Amanda', 699911, 'TRENDY'),
 ('Amber', 313418, 'TRENDY'),
 ('Amelia', 106381, 'SEMI_TRENDY'),
 ('Amy', 569542, 'TRENDY'),
 ('Andrea', 321655, 'TRENDY'),
 ('Andrew', 1157548, 'SEMI-CLASSIC'),
 ('Angel', 157667, 'SEMI_TRENDY'),
 ('Angela', 541553, 'TRENDY'),
 ('Angelina', 11337, 'SEMI_TRENDY'),
 ('Anita', 44692, 'SEMI_TRENDY'),
 ('Ann', 336091, 'TRENDY'),
 ('Anna', 445496, 'SEMI-CLASSIC'),
 ('Anne', 70228, 'SEMI_TRENDY'),
 ('Annette', 49954, 'SEMI_TRENDY'),
 ('Annie', 95837, 'SEMI_TRENDY'),
 ('Anthony', 1344352, 'CLASSIC'),
 ('Antonio', 10097, 'SEMI_TRENDY'),
 ('April', 138714, 'SEMI_TRENDY'),
 ('Aria', 52145, 'SEMI_TRENDY'),
 ('Ariana', 5497, 'SEMI_TRENDY'),
 ('Arianna', 5270, 'SEMI_TRENDY'),
 ('Ariel', 5410, 'SEMI_TRENDY'),
 ('Arthur', 309705, 'TRENDY'),
 ('Asher', 38156, 'SEMI_TRENDY'),
 ('Ashley', 798738, 'TRENDY'),
 ('Ashton', 5436, 'SEMI_TRENDY'),
 ('Aubrey', 72220, 'SEMI_TRENDY'),
 ('Audrey', 48341, 'SEMI_TRENDY'),
 ('Aurora', 5184, 'SEMI_TRENDY'),
 ('Austin', 365295, 'TRENDY'),
 ('Ava', 265126, 'SEMI_TRENDY'),
 ('Avery', 112293, 'SEMI_TRENDY'),
 ('Ayden', 34244, 'SEMI_TRENDY'),
 ('Bailey', 10219, 'SEMI_TRENDY'),
 ('Barbara', 1343901, 'SEMI-CLASSIC'),
 ('Barry', 85434, 'SEMI_TRENDY'),
 ('Beatrice', 27983, 'SEMI_TRENDY'),
 ('Bella', 5127, 'SEMI_TRENDY'),
 ('Benjamin', 627696, 'TRENDY'),
 ('Bentley', 16844, 'SEMI_TRENDY'),
 ('Bernice', 46347, 'SEMI_TRENDY'),
 ('Beth', 55228, 'SEMI_TRENDY'),
 ('Betty', 893396, 'TRENDY'),
 ('Beverly', 310683, 'TRENDY'),
 ('Billy', 270759, 'TRENDY'),
 ('Blake', 48795, 'SEMI_TRENDY'),
 ('Bobby', 203289, 'TRENDY'),
 ('Bonnie', 193352, 'TRENDY'),
 ('Bradley', 147275, 'TRENDY'),
 ('Brandi', 16199, 'SEMI_TRENDY'),
 ('Brandon', 729832, 'TRENDY'),
 ('Brandy', 48762, 'SEMI_TRENDY'),
 ('Brayden', 93754, 'SEMI_TRENDY'),
 ('Brenda', 513283, 'TRENDY'),
 ('Brian', 1107302, 'SEMI-CLASSIC'),
 ('Briana', 5001, 'SEMI_TRENDY'),
 ('Brianna', 210328, 'TRENDY'),
 ('Brittany', 326255, 'SEMI_TRENDY'),
 ('Brittney', 37878, 'SEMI_TRENDY'),
 ('Brody', 21815, 'SEMI_TRENDY'),
 ('Brooke', 110847, 'SEMI_TRENDY'),
 ('Brooklyn', 62260, 'SEMI_TRENDY'),
 ('Bruce', 266549, 'TRENDY'),
 ('Bryan', 314250, 'TRENDY'),
 ('Caden', 5052, 'SEMI_TRENDY'),
 ('Caitlin', 38501, 'SEMI_TRENDY'),
 ('Caleb', 259439, 'TRENDY'),
 ('Cameron', 253711, 'TRENDY'),
 ('Camila', 51882, 'SEMI_TRENDY'),
 ('Carl', 334800, 'TRENDY'),
 ('Carla', 22276, 'SEMI_TRENDY'),
 ('Carlos', 118325, 'SEMI_TRENDY'),
 ('Carol', 740607, 'TRENDY'),
 ('Carole', 21186, 'SEMI_TRENDY'),
 ('Caroline', 5021, 'SEMI_TRENDY'),
 ('Carolyn', 438382, 'TRENDY'),
 ('Carrie', 77899, 'SEMI_TRENDY'),
 ('Carson', 25598, 'SEMI_TRENDY'),
 ('Carter', 141274, 'SEMI_TRENDY'),
 ('Cassandra', 42677, 'SEMI_TRENDY'),
 ('Catherine', 345852, 'TRENDY'),
 ('Cathy', 119020, 'SEMI_TRENDY'),
 ('Chad', 177923, 'SEMI_TRENDY'),
 ('Charles', 2112352, 'CLASSIC'),
 ('Charlotte', 141540, 'SEMI_TRENDY'),
 ('Chase', 97684, 'SEMI_TRENDY'),
 ('Chelsea', 100857, 'SEMI_TRENDY'),
 ('Cheryl', 392691, 'TRENDY'),
 ('Chloe', 187720, 'TRENDY'),
 ('Chris', 48878, 'SEMI_TRENDY'),
 ('Christian', 357457, 'TRENDY'),
 ('Christina', 366859, 'TRENDY'),
 ('Christine', 465653, 'TRENDY'),
 ('Christopher', 2012792, 'SEMI-CLASSIC'),
 ('Christy', 10235, 'SEMI_TRENDY'),
 ('Cindy', 161070, 'SEMI_TRENDY'),
 ('Claire', 10225, 'SEMI_TRENDY'),
 ('Clara', 21336, 'SEMI_TRENDY'),
 ('Clarence', 77134, 'SEMI_TRENDY'),
 ('Cody', 225952, 'TRENDY'),
 ('Cole', 72461, 'SEMI_TRENDY'),
 ('Colin', 5122, 'SEMI_TRENDY'),
 ('Colton', 58377, 'SEMI_TRENDY'),
 ('Connie', 179476, 'TRENDY'),
 ('Connor', 203106, 'TRENDY'),
 ('Cooper', 31011, 'SEMI_TRENDY'),
 ('Corey', 70531, 'SEMI_TRENDY'),
 ('Cory', 29454, 'SEMI_TRENDY'),
 ('Courtney', 202829, 'TRENDY'),
 ('Craig', 190323, 'TRENDY'),
 ('Crystal', 239999, 'TRENDY'),
 ('Curtis', 48098, 'SEMI_TRENDY'),
 ('Cynthia', 577859, 'TRENDY'),
 ('Dakota', 34334, 'SEMI_TRENDY'),
 ('Dale', 130919, 'SEMI_TRENDY'),
 ('Dana', 51558, 'SEMI_TRENDY'),
 ('Daniel', 1824274, 'CLASSIC'),
 ('Danielle', 299683, 'TRENDY'),
 ('Danny', 161078, 'SEMI_TRENDY'),
 ('Darlene', 89561, 'SEMI_TRENDY'),
 ('Darren', 5935, 'SEMI_TRENDY'),
 ('Darryl', 10142, 'SEMI_TRENDY'),
 ('David', 3571498, 'CLASSIC'),
 ('Dawn', 225877, 'TRENDY'),
 ('Debbie', 138846, 'SEMI_TRENDY'),
 ('Deborah', 675049, 'TRENDY'),
 ('Debra', 508230, 'TRENDY'),
 ('Denise', 285039, 'TRENDY'),
 ('Dennis', 492221, 'TRENDY'),
 ('Derek', 105026, 'SEMI_TRENDY'),
 ('Destiny', 100465, 'SEMI_TRENDY'),
 ('Devin', 70280, 'SEMI_TRENDY'),
 ('Diana', 172195, 'TRENDY'),
 ('Diane', 453135, 'TRENDY'),
 ('Diego', 46535, 'SEMI_TRENDY'),
 ('Dillon', 5062, 'SEMI_TRENDY'),
 ('Dolores', 101453, 'SEMI_TRENDY'),
 ('Dominic', 67420, 'SEMI_TRENDY'),
 ('Donald', 1280236, 'SEMI-CLASSIC'),
 ('Donna', 762594, 'TRENDY'),
 ('Doris', 336062, 'TRENDY'),
 ('Dorothy', 791084, 'TRENDY'),
 ('Douglas', 426439, 'TRENDY'),
 ('Dustin', 138651, 'SEMI_TRENDY'),
 ('Dylan', 360776, 'TRENDY'),
 ('Earl', 74214, 'SEMI_TRENDY'),
 ('Easton', 21820, 'SEMI_TRENDY'),
 ('Edith', 53687, 'SEMI_TRENDY'),
 ('Edna', 63698, 'SEMI_TRENDY'),
 ('Edward', 1013143, 'SEMI-CLASSIC'),
 ('Elaine', 100359, 'SEMI_TRENDY'),
 ('Eleanor', 119863, 'SEMI_TRENDY'),
 ('Eli', 74938, 'SEMI_TRENDY'),
 ('Elias', 16965, 'SEMI_TRENDY'),
 ('Elijah', 277457, 'TRENDY'),
 ('Elizabeth', 1436286, 'CLASSIC'),
 ('Ella', 154079, 'SEMI_TRENDY'),
 ('Ellen', 82403, 'SEMI_TRENDY'),
 ('Ellie', 26266, 'SEMI_TRENDY'),
 ('Emily', 750420, 'TRENDY'),
 ('Emma', 448087, 'TRENDY'),
 ('Eric', 797880, 'SEMI-CLASSIC'),
 ('Erica', 156158, 'SEMI_TRENDY'),
 ('Erin', 239718, 'TRENDY'),
 ('Ernest', 43959, 'SEMI_TRENDY'),
 ('Esther', 28040, 'SEMI_TRENDY'),
 ('Ethan', 408918, 'TRENDY'),
 ('Ethel', 53359, 'SEMI_TRENDY'),
 ('Eugene', 239512, 'TRENDY'),
 ('Evan', 203165, 'TRENDY'),
 ('Evelyn', 310824, 'TRENDY'),
 ('Ezekiel', 5013, 'SEMI_TRENDY'),
 ('Ezra', 24632, 'SEMI_TRENDY'),
 ('Faith', 27204, 'SEMI_TRENDY'),
 ('Florence', 99171, 'SEMI_TRENDY'),
 ('Frances', 348520, 'TRENDY'),
 ('Francis', 59097, 'SEMI_TRENDY'),
 ('Frank', 596887, 'SEMI-CLASSIC'),
 ('Franklin', 5364, 'SEMI_TRENDY'),
 ('Fred', 170837, 'TRENDY'),
 ('Gabriel', 270207, 'TRENDY'),
 ('Gabriella', 51486, 'SEMI_TRENDY'),
 ('Gabrielle', 51144, 'SEMI_TRENDY'),
 ('Gail', 118334, 'SEMI_TRENDY'),
 ('Garrett', 15976, 'SEMI_TRENDY'),
 ('Gary', 817491, 'TRENDY'),
 ('Gavin', 130460, 'SEMI_TRENDY'),
 ('George', 1032513, 'SEMI-CLASSIC'),
 ('Gerald', 327545, 'TRENDY'),
 ('Geraldine', 52850, 'SEMI_TRENDY'),
 ('Gertrude', 16229, 'SEMI_TRENDY'),
 ('Gianna', 7826, 'SEMI_TRENDY'),
 ('Gina', 46380, 'SEMI_TRENDY'),
 ('Gladys', 77627, 'SEMI_TRENDY'),
 ('Glenn', 94437, 'SEMI_TRENDY'),
 ('Gloria', 331698, 'TRENDY'),
 ('Grace', 254573, 'TRENDY'),
 ('Grayson', 61689, 'SEMI_TRENDY'),
 ('Greg', 15849, 'SEMI_TRENDY'),
 ('Gregory', 644286, 'TRENDY'),
 ('Hailey', 111571, 'SEMI_TRENDY'),
 ('Haley', 106119, 'SEMI_TRENDY'),
 ('Hannah', 392284, 'TRENDY'),
 ('Harold', 368463, 'TRENDY'),
 ('Harper', 86554, 'SEMI_TRENDY'),
 ('Harry', 182312, 'TRENDY'),
 ('Hayden', 34724, 'SEMI_TRENDY'),
 ('Hazel', 66103, 'SEMI_TRENDY'),
 ('Heather', 468165, 'TRENDY'),
 ('Helen', 569998, 'TRENDY'),
 ('Henry', 429656, 'SEMI-CLASSIC'),
 ('Herbert', 52341, 'SEMI_TRENDY'),
 ('Holly', 54634, 'SEMI_TRENDY'),
 ('Howard', 157144, 'TRENDY'),
 ('Hudson', 43048, 'SEMI_TRENDY'),
 ('Hunter', 220439, 'TRENDY'),
 ('Ian', 159100, 'TRENDY'),
 ('Irene', 110116, 'SEMI_TRENDY'),
 ('Isaac', 209563, 'TRENDY'),
 ('Isabella', 336924, 'TRENDY'),
 ('Isaiah', 200116, 'TRENDY'),
 ('Jace', 23233, 'SEMI_TRENDY'),
 ('Jack', 552411, 'SEMI-CLASSIC'),
 ('Jackson', 219588, 'TRENDY'),
 ('Jacob', 888209, 'TRENDY'),
 ('Jacqueline', 223092, 'TRENDY'),
 ('Jaden', 21777, 'SEMI_TRENDY'),
 ('Jaime', 13744, 'SEMI_TRENDY'),
 ('James', 4748138, 'CLASSIC'),
 ('Jamie', 157417, 'SEMI_TRENDY'),
 ('Jane', 195627, 'TRENDY'),
 ('Janet', 444842, 'TRENDY'),
 ('Janice', 328335, 'TRENDY'),
 ('Jared', 137848, 'TRENDY'),
 ('Jasmine', 192464, 'TRENDY'),
 ('Jason', 998257, 'TRENDY'),
 ('Jaxon', 66542, 'SEMI_TRENDY'),
 ('Jaxson', 5061, 'SEMI_TRENDY'),
 ('Jay', 20682, 'SEMI_TRENDY'),
 ('Jayden', 213005, 'SEMI_TRENDY'),
 ('Jean', 363812, 'TRENDY'),
 ('Jeff', 61390, 'SEMI_TRENDY'),
 ('Jeffery', 131241, 'SEMI_TRENDY'),
 ('Jeffrey', 907378, 'TRENDY'),
 ('Jenna', 60548, 'SEMI_TRENDY'),
 ('Jennifer', 1404743, 'TRENDY'),
 ('Jeremiah', 104792, 'SEMI_TRENDY'),
 ('Jeremy', 366271, 'TRENDY'),
 ('Jerry', 494469, 'TRENDY'),
 ('Jesse', 183645, 'TRENDY'),
 ('Jessica', 994210, 'TRENDY'),
 ('Jesus', 82359, 'SEMI_TRENDY'),
 ('Jill', 120405, 'SEMI_TRENDY'),
 ('Jim', 16588, 'SEMI_TRENDY'),
 ('Jimmy', 135558, 'TRENDY'),
 ('Jo', 84238, 'SEMI_TRENDY'),
 ('Joan', 413286, 'TRENDY'),
 ('Joanne', 77323, 'SEMI_TRENDY'),
 ('Jocelyn', 5292, 'SEMI_TRENDY'),
 ('Joe', 302127, 'TRENDY'),
 ('John', 4510721, 'CLASSIC'),
 ('Johnny', 138737, 'TRENDY'),
 ('Jonathan', 772846, 'SEMI-CLASSIC'),
 ('Jordan', 426912, 'TRENDY'),
 ('Jose', 434805, 'TRENDY'),
 ('Joseph', 2361382, 'CLASSIC'),
 ('Josephine', 69222, 'SEMI_TRENDY'),
 ('Joshua', 1204236, 'TRENDY'),
 ('Josiah', 74001, 'SEMI_TRENDY'),
 ('Joyce', 436267, 'TRENDY'),
 ('Juan', 189094, 'TRENDY'),
 ('Juanita', 20758, 'SEMI_TRENDY'),
 ('Judith', 377449, 'TRENDY'),
 ('Judy', 329356, 'TRENDY'),
 ('Julia', 112397, 'SEMI_TRENDY'),
 ('Julian', 137742, 'SEMI_TRENDY'),
 ('Julie', 411989, 'TRENDY'),
 ('June', 61668, 'SEMI_TRENDY'),
 ('Justin', 729931, 'TRENDY'),
 ('Kaitlyn', 121541, 'SEMI_TRENDY'),
 ('Karen', 892033, 'TRENDY'),
 ('Katelyn', 65023, 'SEMI_TRENDY'),
 ('Katherine', 413349, 'SEMI-CLASSIC'),
 ('Kathleen', 516918, 'TRENDY'),
 ('Kathryn', 204173, 'TRENDY'),
 ('Kathy', 269922, 'TRENDY'),
 ('Katie', 97378, 'SEMI_TRENDY'),
 ('Kayla', 294192, 'TRENDY'),
 ('Kaylee', 65209, 'SEMI_TRENDY'),
 ('Keith', 313978, 'TRENDY'),
 ('Kelly', 417352, 'TRENDY'),
 ('Kelsey', 95434, 'SEMI_TRENDY'),
 ('Kenneth', 1153846, 'SEMI-CLASSIC'),
 ('Kevin', 1140092, 'SEMI-CLASSIC'),
 ('Khloe', 5406, 'SEMI_TRENDY'),
 ('Kim', 143648, 'SEMI_TRENDY'),
 ('Kimberly', 767543, 'TRENDY'),
 ('Kristen', 127223, 'SEMI_TRENDY'),
 ('Kristin', 81495, 'SEMI_TRENDY'),
 ('Kristina', 10585, 'SEMI_TRENDY'),
 ('Kristy', 5331, 'SEMI_TRENDY'),
 ('Krystal', 5935, 'SEMI_TRENDY'),
 ('Kyle', 394877, 'TRENDY'),
 ('Kylie', 16309, 'SEMI_TRENDY'),
 ('Landon', 129558, 'SEMI_TRENDY'),
 ('Larry', 700521, 'TRENDY'),
 ('Latoya', 5051, 'SEMI_TRENDY'),
 ('Laura', 587161, 'TRENDY'),
 ('Lauren', 401513, 'TRENDY'),
 ('Laurie', 87568, 'SEMI_TRENDY'),
 ('Lawrence', 307238, 'TRENDY'),
 ('Layla', 74474, 'SEMI_TRENDY'),
 ('Leah', 63600, 'SEMI_TRENDY'),
 ('Leo', 32643, 'SEMI_TRENDY'),
 ('Leonard', 54127, 'SEMI_TRENDY'),
 ('Leslie', 73075, 'SEMI_TRENDY'),
 ('Levi', 91814, 'SEMI_TRENDY'),
 ('Liam', 213059, 'SEMI_TRENDY'),
 ('Lillian', 185120, 'TRENDY'),
 ('Lily', 115354, 'SEMI_TRENDY'),
 ('Lincoln', 43147, 'SEMI_TRENDY'),
 ('Linda', 1361021, 'TRENDY'),
 ('Lindsay', 69178, 'SEMI_TRENDY'),
 ('Lindsey', 88669, 'SEMI_TRENDY'),
 ('Lisa', 920119, 'TRENDY'),
 ('Logan', 316927, 'TRENDY'),
 ('Lois', 220781, 'TRENDY'),
 ('Lori', 289439, 'TRENDY'),
 ('Lorraine', 27338, 'SEMI_TRENDY'),
 ('Louis', 115731, 'SEMI_TRENDY'),
 ('Louise', 106456, 'SEMI_TRENDY'),
 ('Lucas', 191033, 'SEMI_TRENDY'),
 ('Lucille', 59379, 'SEMI_TRENDY'),
 ('Luis', 144176, 'TRENDY'),
 ('Luke', 207795, 'TRENDY'),
 ('Luna', 27822, 'SEMI_TRENDY'),
 ('Lynn', 97059, 'SEMI_TRENDY'),
 ('Mackenzie', 46972, 'SEMI_TRENDY'),
 ('Madeline', 26888, 'SEMI_TRENDY'),
 ('Madison', 378127, 'TRENDY'),
 ('Makayla', 55446, 'SEMI_TRENDY'),
 ('Marc', 5013, 'SEMI_TRENDY'),
 ('Marcia', 15571, 'SEMI_TRENDY'),
 ('Marcus', 53788, 'SEMI_TRENDY'),
 ('Margaret', 806838, 'TRENDY'),
 ('Maria', 417502, 'SEMI-CLASSIC'),
 ('Mariah', 15723, 'SEMI_TRENDY'),
 ('Marie', 249462, 'TRENDY'),
 ('Marilyn', 286722, 'TRENDY'),
 ('Marion', 50545, 'SEMI_TRENDY'),
 ('Marissa', 29003, 'SEMI_TRENDY'),
 ('Marjorie', 114386, 'SEMI_TRENDY'),
 ('Mark', 1265910, 'SEMI-CLASSIC'),
 ('Marlene', 10368, 'SEMI_TRENDY'),
 ('Marsha', 21303, 'SEMI_TRENDY'),
 ('Martha', 359762, 'TRENDY'),
 ('Martin', 56023, 'SEMI_TRENDY'),
 ('Mary', 3215850, 'CLASSIC'),
 ('Mason', 263609, 'TRENDY'),
 ('Mateo', 45440, 'SEMI_TRENDY'),
 ('Matthew', 1567204, 'SEMI-CLASSIC'),
 ('Maverick', 16863, 'SEMI_TRENDY'),
 ('Maya', 5047, 'SEMI_TRENDY'),
 ('Megan', 384668, 'TRENDY'),
 ('Melanie', 43995, 'SEMI_TRENDY'),
 ('Melissa', 666250, 'TRENDY'),
 ('Mia', 216167, 'SEMI_TRENDY'),
 ('Michael', 4278824, 'CLASSIC'),
 ('Michele', 139690, 'SEMI_TRENDY'),
 ('Michelle', 736097, 'TRENDY'),
 ('Mike', 97902, 'SEMI_TRENDY'),
 ('Mila', 28047, 'SEMI_TRENDY'),
 ('Mildred', 195666, 'SEMI_TRENDY'),
 ('Miles', 5249, 'SEMI_TRENDY'),
 ('Miranda', 11434, 'SEMI_TRENDY'),
 ('Misty', 34935, 'SEMI_TRENDY'),
 ('Mitchell', 5370, 'SEMI_TRENDY'),
 ('Monica', 111143, 'SEMI_TRENDY'),
 ('Morgan', 157320, 'SEMI_TRENDY'),
 ('Nancy', 854761, 'TRENDY'),
 ('Natalie', 266634, 'TRENDY'),
 ('Nathan', 493746, 'TRENDY'),
 ('Nathaniel', 103671, 'SEMI_TRENDY'),
 ('Nevaeh', 42926, 'SEMI_TRENDY'),
 ('Nicholas', 777269, 'TRENDY'),
 ('Nicole', 533803, 'TRENDY'),
 ('Noah', 389490, 'TRENDY'),
 ('Nolan', 38147, 'SEMI_TRENDY'),
 ('Nora', 34285, 'SEMI_TRENDY'),
 ('Norma', 144522, 'TRENDY'),
 ('Norman', 47596, 'SEMI_TRENDY'),
 ('Oliver', 107511, 'SEMI_TRENDY'),
 ('Olivia', 429118, 'TRENDY'),
 ('Owen', 151569, 'SEMI_TRENDY'),
 ('Paige', 48894, 'SEMI_TRENDY'),
 ('Paisley', 5085, 'SEMI_TRENDY'),
 ('Pamela', 524481, 'TRENDY'),
 ('Parker', 27453, 'SEMI_TRENDY'),
 ('Patricia', 1479802, 'SEMI-CLASSIC'),
 ('Patrick', 559661, 'SEMI-CLASSIC'),
 ('Paul', 1218996, 'SEMI-CLASSIC'),
 ('Paula', 196090, 'TRENDY'),
 ('Pauline', 64073, 'SEMI_TRENDY'),
 ('Peggy', 220586, 'TRENDY'),
 ('Penelope', 43409, 'SEMI_TRENDY'),
 ('Penny', 10128, 'SEMI_TRENDY'),
 ('Peter', 388795, 'SEMI-CLASSIC'),
 ('Peyton', 5315, 'SEMI_TRENDY'),
 ('Philip', 100415, 'SEMI_TRENDY'),
 ('Phillip', 86811, 'SEMI_TRENDY'),
 ('Phyllis', 251517, 'TRENDY'),
 ('Rachel', 434626, 'TRENDY'),
 ('Ralph', 273663, 'TRENDY'),
 ('Randall', 89055, 'SEMI_TRENDY'),
 ('Randy', 215094, 'SEMI_TRENDY'),
 ('Raymond', 541922, 'SEMI-CLASSIC'),
 ('Rebecca', 638458, 'SEMI-CLASSIC'),
 ('Regina', 10003, 'SEMI_TRENDY'),
 ('Renee', 61185, 'SEMI_TRENDY'),
 ('Rhonda', 157706, 'SEMI_TRENDY'),
 ('Richard', 2414838, 'CLASSIC'),
 ('Rick', 5462, 'SEMI_TRENDY'),
 ('Ricky', 119547, 'SEMI_TRENDY'),
 ('Riley', 73607, 'SEMI_TRENDY'),
 ('Rita', 125877, 'TRENDY'),
 ('Robert', 4495199, 'CLASSIC'),
 ('Robin', 210806, 'SEMI_TRENDY'),
 ('Rodney', 125500, 'SEMI_TRENDY'),
 ('Roger', 314531, 'TRENDY'),
 ('Ronald', 974343, 'SEMI-CLASSIC'),
 ('Ronnie', 45564, 'SEMI_TRENDY'),
 ('Rose', 248527, 'TRENDY'),
 ('Roy', 227920, 'TRENDY'),
 ('Ruby', 93528, 'SEMI_TRENDY'),
 ('Russell', 128647, 'TRENDY'),
 ('Ruth', 475908, 'TRENDY'),
 ('Ryan', 926995, 'TRENDY'),
 ('Sabrina', 11589, 'SEMI_TRENDY'),
 ('Sally', 30713, 'SEMI_TRENDY'),
 ('Samantha', 514826, 'TRENDY'),
 ('Samuel', 539556, 'SEMI-CLASSIC'),
 ('Sandra', 783878, 'TRENDY'),
 ('Santiago', 5036, 'SEMI_TRENDY'),
 ('Sara', 226696, 'TRENDY'),
 ('Sarah', 777519, 'TRENDY'),
 ('Savannah', 134405, 'TRENDY'),
 ('Scarlett', 54329, 'SEMI_TRENDY'),
 ('Scott', 704468, 'TRENDY'),
 ('Sean', 372082, 'TRENDY'),
 ('Sebastian', 130244, 'SEMI_TRENDY'),
 ('Seth', 35423, 'SEMI_TRENDY'),
 ('Shane', 52869, 'SEMI_TRENDY'),
 ('Shannon', 231132, 'TRENDY'),
 ('Sharon', 647989, 'TRENDY'),
 ('Shaun', 6107, 'SEMI_TRENDY'),
 ('Shawn', 215326, 'TRENDY'),
 ('Sheila', 154361, 'TRENDY'),
 ('Shelby', 68474, 'SEMI_TRENDY'),
 ('Sherri', 10819, 'SEMI_TRENDY'),
 ('Sherry', 173913, 'TRENDY'),
 ('Shirley', 615887, 'TRENDY'),
 ('Sierra', 38980, 'SEMI_TRENDY'),
 ('Skylar', 10408, 'SEMI_TRENDY'),
 ('Sofia', 117208, 'SEMI_TRENDY'),
 ('Sophia', 318523, 'TRENDY'),
 ('Stacey', 67483, 'SEMI_TRENDY'),
 ('Stacy', 86835, 'SEMI_TRENDY'),
 ('Stanley', 95152, 'SEMI_TRENDY'),
 ('Stella', 10217, 'SEMI_TRENDY'),
 ('Stephanie', 651976, 'TRENDY'),
 ('Stephen', 753958, 'SEMI-CLASSIC'),
 ('Steve', 114750, 'SEMI_TRENDY'),
 ('Steven', 1216819, 'SEMI-CLASSIC'),
 ('Sue', 10450, 'SEMI_TRENDY'),
 ('Susan', 1025728, 'TRENDY'),
 ('Suzanne', 109387, 'SEMI_TRENDY'),
 ('Sydney', 117279, 'SEMI_TRENDY'),
 ('Tammy', 296905, 'SEMI_TRENDY'),
 ('Tanya', 22407, 'SEMI_TRENDY'),
 ('Tara', 107987, 'SEMI_TRENDY'),
 ('Taylor', 323699, 'TRENDY'),
 ('Teresa', 298059, 'TRENDY'),
 ('Terri', 80961, 'SEMI_TRENDY'),
 ('Terry', 346213, 'TRENDY'),
 ('Thelma', 74017, 'SEMI_TRENDY'),
 ('Theodore', 29464, 'SEMI_TRENDY'),
 ('Theresa', 225262, 'TRENDY'),
 ('Thomas', 2166802, 'CLASSIC'),
 ('Tiffany', 283969, 'TRENDY'),
 ('Tim', 36165, 'SEMI_TRENDY'),
 ('Timothy', 1001771, 'SEMI-CLASSIC'),
 ('Tina', 227252, 'TRENDY'),
 ('Todd', 207137, 'SEMI_TRENDY'),
 ('Tom', 5061, 'SEMI_TRENDY'),
 ('Tony', 96417, 'SEMI_TRENDY'),
 ('Tonya', 58234, 'SEMI_TRENDY'),
 ('Tracey', 16979, 'SEMI_TRENDY'),
 ('Tracy', 199320, 'SEMI_TRENDY'),
 ('Travis', 218731, 'TRENDY'),
 ('Trevor', 76138, 'SEMI_TRENDY'),
 ('Trinity', 16217, 'SEMI_TRENDY'),
 ('Tristan', 27212, 'SEMI_TRENDY'),
 ('Troy', 82294, 'SEMI_TRENDY'),
 ('Tyler', 548624, 'TRENDY'),
 ('Valerie', 70039, 'SEMI_TRENDY'),
 ('Vanessa', 119596, 'SEMI_TRENDY'),
 ('Vicki', 94504, 'SEMI_TRENDY'),
 ('Vickie', 49252, 'SEMI_TRENDY'),
 ('Victoria', 347794, 'TRENDY'),
 ('Vincent', 23419, 'SEMI_TRENDY'),
 ('Violet', 10471, 'SEMI_TRENDY'),
 ('Virginia', 441418, 'TRENDY'),
 ('Walter', 378194, 'TRENDY'),
 ('Wanda', 125458, 'SEMI_TRENDY'),
 ('Warren', 13290, 'SEMI_TRENDY'),
 ('Wayne', 211347, 'TRENDY'),
 ('Wendy', 159446, 'SEMI_TRENDY'),
 ('Whitney', 43759, 'SEMI_TRENDY'),
 ('William', 3614424, 'CLASSIC'),
 ('Willie', 274564, 'TRENDY'),
 ('Wyatt', 128168, 'SEMI_TRENDY'),
 ('Xavier', 51892, 'SEMI_TRENDY'),
 ('Zachary', 483955, 'TRENDY'),
 ('Zoe', 78773, 'SEMI_TRENDY'),
 ('Zoey', 70140, 'SEMI_TRENDY')]

## 3. Top-ranked female names since 1920
<p>Did you find your favorite American celebrity's name on the popularity chart? Was it classic or trendy? How do you think the name Henry did? What about Jaxon?</p>
<p>Since we didn't get many traditionally female names in our classic American names search in the first task, let's limit our search to names which were given to female babies. </p>
<p>We can use this opportunity to practice window functions by assigning a rank to female names based on the number of babies that have ever been given that name. What are the top-ranked female names since 1920?</p>

In [45]:
%%sql

SELECT first_name, SUM(num), RANK() OVER (PARTITION BY SUM(num) ORDER BY first_name) AS name_rank
FROM baby_names 
WHERE sex = 'F'
GROUP BY 1;

 * postgresql:///names
310 rows affected.

[('Briana', 5001, 1),
 ('Caroline', 5021, 1),
 ('Alexandria', 5026, 1),
 ('Maya', 5047, 1),
 ('Latoya', 5051, 1),
 ('Paisley', 5085, 1),
 ('Bella', 5127, 1),
 ('Aurora', 5184, 1),
 ('Arianna', 5270, 1),
 ('Jocelyn', 5292, 1),
 ('Peyton', 5315, 1),
 ('Kristy', 5331, 1),
 ('Khloe', 5406, 1),
 ('Ariel', 5410, 1),
 ('Ariana', 5497, 1),
 ('Krystal', 5935, 1),
 ('Gianna', 7826, 1),
 ('Regina', 10003, 1),
 ('Penny', 10128, 1),
 ('Stella', 10217, 1),
 ('Bailey', 10219, 1),
 ('Claire', 10225, 1),
 ('Christy', 10235, 1),
 ('Marlene', 10368, 1),
 ('Skylar', 10408, 1),
 ('Sue', 10450, 1),
 ('Violet', 10471, 1),
 ('Kristina', 10585, 1),
 ('Sherri', 10819, 1),
 ('Angelina', 11337, 1),
 ('Miranda', 11434, 1),
 ('Sabrina', 11589, 1),
 ('Jaime', 13744, 1),
 ('Marcia', 15571, 1),
 ('Mariah', 15723, 1),
 ('Aaliyah', 15870, 1),
 ('Brandi', 16199, 1),
 ('Trinity', 16217, 1),
 ('Gertrude', 16229, 1),
 ('Kylie', 16309, 1),
 ('Tracey', 16979, 1),
 ('Juanita', 20758, 1),
 ('Carole', 21186, 1),
 ('Marsha', 21303, 1),
 ('Clara', 21336, 1),
 ('Carla', 22276, 1),
 ('Tanya', 22407, 1),
 ('Ellie', 26266, 1),
 ('Terry', 26430, 1),
 ('Madeline', 26888, 1),
 ('Faith', 27204, 1),
 ('Lorraine', 27338, 1),
 ('Luna', 27822, 1),
 ('Beatrice', 27983, 1),
 ('Esther', 28040, 1),
 ('Mila', 28047, 1),
 ('Marissa', 29003, 1),
 ('Sally', 30713, 1),
 ('Alexa', 33522, 1),
 ('Nora', 34285, 1),
 ('Misty', 34935, 1),
 ('Brittney', 37878, 1),
 ('Caitlin', 38501, 1),
 ('Sierra', 38980, 1),
 ('Cassandra', 42677, 1),
 ('Nevaeh', 42926, 1),
 ('Penelope', 43409, 1),
 ('Whitney', 43759, 1),
 ('Melanie', 43995, 1),
 ('Anita', 44692, 1),
 ('Bernice', 46347, 1),
 ('Gina', 46380, 1),
 ('Mackenzie', 46972, 1),
 ('Audrey', 48341, 1),
 ('Brandy', 48762, 1),
 ('Paige', 48894, 1),
 ('Vickie', 49252, 1),
 ('Annette', 49954, 1),
 ('Marion', 50545, 1),
 ('Gabrielle', 51144, 1),
 ('Gabriella', 51486, 1),
 ('Dana', 51558, 1),
 ('Camila', 51882, 1),
 ('Aria', 52145, 1),
 ('Geraldine', 52850, 1),
 ('Ethel', 53359, 1),
 ('Edith', 53687, 1),
 ('Scarlett', 54329, 1),
 ('Holly', 54634, 1),
 ('Beth', 55228, 1),
 ('Makayla', 55446, 1),
 ('Tonya', 58234, 1),
 ('Lucille', 59379, 1),
 ('Jenna', 60548, 1),
 ('Renee', 61185, 1),
 ('June', 61668, 1),
 ('Brooklyn', 62260, 1),
 ('Leah', 63600, 1),
 ('Edna', 63698, 1),
 ('Pauline', 64073, 1),
 ('Katelyn', 65023, 1),
 ('Kaylee', 65209, 1),
 ('Hazel', 66103, 1),
 ('Stacey', 67483, 1),
 ('Shelby', 68474, 1),
 ('Lindsay', 69178, 1),
 ('Josephine', 69222, 1),
 ('Valerie', 70039, 1),
 ('Zoey', 70140, 1),
 ('Anne', 70228, 1),
 ('Aubrey', 72220, 1),
 ('Leslie', 73075, 1),
 ('Riley', 73607, 1),
 ('Thelma', 74017, 1),
 ('Layla', 74474, 1),
 ('Joanne', 77323, 1),
 ('Gladys', 77627, 1),
 ('Carrie', 77899, 1),
 ('Zoe', 78773, 1),
 ('Terri', 80961, 1),
 ('Kristin', 81495, 1),
 ('Ellen', 82403, 1),
 ('Jo', 84238, 1),
 ('Alicia', 84579, 1),
 ('Jordan', 85166, 1),
 ('Harper', 86554, 1),
 ('Stacy', 86835, 1),
 ('Laurie', 87568, 1),
 ('Lindsey', 88669, 1),
 ('Darlene', 89561, 1),
 ('Ruby', 93528, 1),
 ('Vicki', 94504, 1),
 ('Kelsey', 95434, 1),
 ('Annie', 95837, 1),
 ('Lynn', 97059, 1),
 ('Katie', 97378, 1),
 ('Florence', 99171, 1),
 ('Elaine', 100359, 1),
 ('Destiny', 100465, 1),
 ('Chelsea', 100857, 1),
 ('Dolores', 101453, 1),
 ('Haley', 106119, 1),
 ('Amelia', 106381, 1),
 ('Louise', 106456, 1),
 ('Addison', 107433, 1),
 ('Tara', 107987, 1),
 ('Suzanne', 109387, 1),
 ('Irene', 110116, 1),
 ('Brooke', 110847, 1),
 ('Monica', 111143, 1),
 ('Hailey', 111571, 1),
 ('Avery', 112293, 1),
 ('Julia', 112397, 1),
 ('Marjorie', 114386, 1),
 ('Lily', 115354, 1),
 ('Sofia', 117208, 1),
 ('Sydney', 117279, 1),
 ('Gail', 118334, 1),
 ('Cathy', 119020, 1),
 ('Vanessa', 119596, 1),
 ('Eleanor', 119863, 1),
 ('Jill', 120405, 1),
 ('Kaitlyn', 121541, 1),
 ('Wanda', 125458, 1),
 ('Rita', 125877, 1),
 ('Kristen', 127223, 1),
 ('Savannah', 134405, 1),
 ('April', 138714, 1),
 ('Debbie', 138846, 1),
 ('Michele', 139690, 1),
 ('Charlotte', 141540, 1),
 ('Kim', 143648, 1),
 ('Norma', 144522, 1),
 ('Ella', 154079, 1),
 ('Sheila', 154361, 1),
 ('Erica', 156158, 1),
 ('Morgan', 157320, 1),
 ('Jamie', 157417, 1),
 ('Rhonda', 157706, 1),
 ('Wendy', 159446, 1),
 ('Cindy', 161070, 1),
 ('Alexandra', 167122, 1),
 ('Diana', 172195, 1),
 ('Sherry', 173913, 1),
 ('Connie', 179476, 1),
 ('Lillian', 185120, 1),
 ('Chloe', 187720, 1),
 ('Jasmine', 192464, 1),
 ('Bonnie', 193352, 1),
 ('Jane', 195627, 1),
 ('Mildred', 195666, 1),
 ('Paula', 196090, 1),
 ('Tracy', 199320, 1),
 ('Courtney', 202829, 1),
 ('Kathryn', 204173, 1),
 ('Brianna', 210328, 1),
 ('Robin', 210806, 1),
 ('Allison', 214995, 1),
 ('Mia', 216167, 1),
 ('Peggy', 220586, 1),
 ('Lois', 220781, 1),
 ('Jacqueline', 223092, 1),
 ('Theresa', 225262, 1),
 ('Dawn', 225877, 1),
 ('Sara', 226696, 1),
 ('Tina', 227252, 1),
 ('Shannon', 231132, 1),
 ('Erin', 239718, 1),
 ('Crystal', 239999, 1),
 ('Rose', 248527, 1),
 ('Marie', 249462, 1),
 ('Phyllis', 251517, 1),
 ('Grace', 254573, 1),
 ('Ava', 265126, 1),
 ('Natalie', 266634, 1),
 ('Alyssa', 269134, 1),
 ('Kathy', 269922, 1),
 ('Taylor', 281083, 1),
 ('Alexis', 282149, 1),
 ('Tiffany', 283969, 1),
 ('Denise', 285039, 1),
 ('Marilyn', 286722, 1),
 ('Lori', 289439, 1),
 ('Kayla', 294192, 1),
 ('Alice', 296559, 1),
 ('Tammy', 296905, 1),
 ('Teresa', 298059, 1),
 ('Danielle', 299683, 1),
 ('Beverly', 310683, 1),
 ('Evelyn', 310824, 1),
 ('Amber', 313418, 1),
 ('Sophia', 318523, 1),
 ('Andrea', 321655, 1),
 ('Brittany', 326255, 1),
 ('Janice', 328335, 1),
 ('Judy', 329356, 1),
 ('Gloria', 331698, 1),
 ('Doris', 336062, 1),
 ('Ann', 336091, 1),
 ('Isabella', 336924, 1),
 ('Abigail', 338485, 1),
 ('Catherine', 345852, 1),
 ('Victoria', 347794, 1),
 ('Frances', 348520, 1),
 ('Martha', 359762, 1),
 ('Jean', 363812, 1),
 ('Christina', 366859, 1),
 ('Judith', 377449, 1),
 ('Madison', 378127, 1),
 ('Megan', 384668, 1),
 ('Hannah', 392284, 1),
 ('Cheryl', 392691, 1),
 ('Lauren', 401513, 1),
 ('Julie', 411989, 1),
 ('Joan', 413286, 1),
 ('Katherine', 413349, 1),
 ('Kelly', 417352, 1),
 ('Maria', 417502, 1),
 ('Olivia', 429118, 1),
 ('Rachel', 434626, 1),
 ('Joyce', 436267, 1),
 ('Carolyn', 438382, 1),
 ('Virginia', 441418, 1),
 ('Janet', 444842, 1),
 ('Anna', 445496, 1),
 ('Emma', 448087, 1),
 ('Diane', 453135, 1),
 ('Christine', 465653, 1),
 ('Heather', 468165, 1),
 ('Ruth', 475908, 1),
 ('Debra', 508230, 1),
 ('Brenda', 513283, 1),
 ('Samantha', 514826, 1),
 ('Kathleen', 516918, 1),
 ('Pamela', 524481, 1),
 ('Nicole', 533803, 1),
 ('Angela', 541553, 1),
 ('Amy', 569542, 1),
 ('Helen', 569998, 1),
 ('Cynthia', 577859, 1),
 ('Laura', 587161, 1),
 ('Shirley', 615887, 1),
 ('Rebecca', 638458, 1),
 ('Sharon', 647989, 1),
 ('Stephanie', 651976, 1),
 ('Melissa', 666250, 1),
 ('Deborah', 675049, 1),
 ('Amanda', 699911, 1),
 ('Michelle', 736097, 1),
 ('Carol', 740607, 1),
 ('Emily', 750420, 1),
 ('Donna', 762594, 1),
 ('Kimberly', 767543, 1),
 ('Sarah', 777519, 1),
 ('Sandra', 783878, 1),
 ('Dorothy', 791084, 1),
 ('Ashley', 798738, 1),
 ('Margaret', 806838, 1),
 ('Nancy', 854761, 1),
 ('Karen', 892033, 1),
 ('Betty', 893396, 1),
 ('Lisa', 920119, 1),
 ('Jessica', 994210, 1),
 ('Susan', 1025728, 1),
 ('Barbara', 1343901, 1),
 ('Linda', 1361021, 1),
 ('Jennifer', 1404743, 1),
 ('Elizabeth', 1436286, 1),
 ('Patricia', 1479802, 1),
 ('Mary', 3215850, 1)]

## 4. Picking a baby name
<p>Perhaps a friend has heard of our work analyzing baby names and would like help choosing a name for her baby, a girl. She doesn't like any of the top-ranked names we found in the previous task. </p>
<p>She's set on a traditionally female name ending in the letter 'a' since she's heard that vowels in baby names are trendy. She's also looking for a name that has been popular in the years since 2015. </p>
<p>Let's see what we can do to find some options for this friend!</p>

In [46]:
%%sql
SELECT first_name
FROM baby_names 
WHERE sex = 'F' AND year > 2015 AND first_name LIKE '%a'
GROUP BY 1
ORDER BY SUM(num);

 * postgresql:///names
19 rows affected.

[('Aurora',),
 ('Gianna',),
 ('Stella',),
 ('Luna',),
 ('Mila',),
 ('Nora',),
 ('Layla',),
 ('Victoria',),
 ('Aria',),
 ('Camila',),
 ('Sofia',),
 ('Ella',),
 ('Amelia',),
 ('Mia',),
 ('Isabella',),
 ('Sophia',),
 ('Ava',),
 ('Emma',),
 ('Olivia',)]

## 5. The Olivia expansion
<p>Based on the results in the previous task, we can see that Olivia is the most popular female name ending in 'A' since 2015. When did the name Olivia become so popular?</p>
<p>Let's explore the rise of the name Olivia with the help of a window function.</p>

In [47]:
%%sql
SELECT year, first_name, SUM(num) cumulative_olivias
FROM baby_names
WHERE first_name = 'Olivia'
GROUP BY 1,2
ORDER BY 1;

 * postgresql:///names
30 rows affected.

[(1991, 'Olivia', 5601),
 (1992, 'Olivia', 5809),
 (1993, 'Olivia', 6340),
 (1994, 'Olivia', 6434),
 (1995, 'Olivia', 7624),
 (1996, 'Olivia', 8124),
 (1997, 'Olivia', 9477),
 (1998, 'Olivia', 10610),
 (1999, 'Olivia', 11255),
 (2000, 'Olivia', 12852),
 (2001, 'Olivia', 13977),
 (2002, 'Olivia', 14630),
 (2003, 'Olivia', 16152),
 (2004, 'Olivia', 16106),
 (2005, 'Olivia', 15694),
 (2006, 'Olivia', 15501),
 (2007, 'Olivia', 16584),
 (2008, 'Olivia', 17084),
 (2009, 'Olivia', 17438),
 (2010, 'Olivia', 17029),
 (2011, 'Olivia', 17327),
 (2012, 'Olivia', 17320),
 (2013, 'Olivia', 18439),
 (2014, 'Olivia', 19823),
 (2015, 'Olivia', 19710),
 (2016, 'Olivia', 19380),
 (2017, 'Olivia', 18744),
 (2018, 'Olivia', 18011),
 (2019, 'Olivia', 18508),
 (2020, 'Olivia', 17535)]

## 6. Many males with the same name
<p>Wow, Olivia has had a meteoric rise! Let's take a look at traditionally male names now. We saw in the first task that there are nine traditionally male names given to at least 5,000 babies every single year in our 101-year dataset! Those names are classics, but showing up in the dataset every year doesn't necessarily mean that the timeless names were the most popular. Let's explore popular male names a little further.</p>
<p>In the next two tasks, we will build up to listing every year along with the most popular male name in that year. This presents a common problem: how do we find the greatest X in a group? Or, in the context of this problem, how do we find the male name given to the highest number of babies in a year? </p>
<p>In SQL, one approach is to use a subquery. We can first write a query that selects the <code>year</code> and the maximum <code>num</code> of babies given any single male name in that year. For example, in 1989, the male name given to the highest number of babies was given to 65,339 babies. We'll write this query in this task. In the next task, we can use the code from this task as a subquery to look up the <code>first_name</code> that was given to 65,339 babies in 1989 as well as the top male first name for all other years!</p>

In [48]:
%%sql
SELECT year, MAX(num) max_num
FROM baby_names
WHERE sex = 'M'
GROUP BY 1;

 * postgresql:///names
101 rows affected.

[(1970, 85291),
 (2000, 34483),
 (1947, 94764),
 (1962, 85041),
 (1975, 68451),
 (1980, 68704),
 (1931, 60518),
 (1981, 68776),
 (2013, 18266),
 (1972, 71401),
 (1956, 90665),
 (2007, 24292),
 (1948, 88589),
 (1984, 67745),
 (1957, 92718),
 (1961, 86917),
 (2002, 30579),
 (1925, 60897),
 (1992, 54397),
 (2008, 22603),
 (1958, 90564),
 (1971, 77599),
 (1985, 64924),
 (1926, 61130),
 (1988, 64150),
 (1929, 59804),
 (1963, 83778),
 (1928, 60703),
 (2003, 29643),
 (1930, 62149),
 (1951, 87261),
 (1940, 62476),
 (1982, 68244),
 (1920, 56914),
 (1999, 35367),
 (1952, 87063),
 (2020, 19659),
 (1946, 87439),
 (1968, 81995),
 (1996, 38365),
 (2005, 25837),
 (1923, 57469),
 (2009, 21184),
 (1924, 60801),
 (1954, 88576),
 (2004, 27886),
 (1938, 62269),
 (1942, 77174),
 (1966, 79990),
 (1998, 36616),
 (1974, 67580),
 (1949, 86865),
 (1990, 65302),
 (1995, 41399),
 (1973, 67842),
 (1927, 61671),
 (1941, 66743),
 (1977, 67609),
 (2001, 32554),
 (1997, 37549),
 (2014, 19319),
 (1965, 81021),
 (1935, 56522),
 (1944, 76954),
 (1994, 44472),
 (2016, 19154),
 (1960, 85933),
 (1987, 63654),
 (1978, 67157),
 (2018, 19924),
 (2006, 24850),
 (1921, 58215),
 (1993, 49554),
 (1964, 82642),
 (1943, 80274),
 (1937, 61842),
 (1986, 64224),
 (1953, 86247),
 (1959, 85224),
 (1976, 66947),
 (1989, 65399),
 (2012, 19088),
 (2011, 20378),
 (2019, 20555),
 (1955, 88372),
 (1939, 59653),
 (1979, 67742),
 (1991, 60793),
 (2017, 18824),
 (1969, 85201),
 (2015, 19650),
 (2010, 22139),
 (1932, 59265),
 (1967, 82440),
 (1922, 57280),
 (1933, 54223),
 (1934, 55834),
 (1936, 58499),
 (1945, 74460),
 (1950, 86229),
 (1983, 68010)]

## 7. Top male names over the years
<p>In the previous task, we found the maximum number of babies given any one male name in each year. Incredibly, the most popular name each year varied from being given to less than 20,000 babies to being given to more than 90,000! </p>
<p>In this task, we find out what that top male name is for each year in our dataset. </p>

In [49]:
%%sql
SELECT b.year, b.first_name, b.num num
FROM baby_names  AS b
INNER JOIN (SELECT year, MAX(num) max_num
    FROM baby_names
    WHERE sex = 'M'
    GROUP BY 1) AS t1
ON t1.year = b.year AND t1.max_num = b.num

 * postgresql:///names
101 rows affected.

[(1920, 'John', 56914),
 (1921, 'John', 58215),
 (1922, 'John', 57280),
 (1923, 'John', 57469),
 (1924, 'Robert', 60801),
 (1925, 'Robert', 60897),
 (1926, 'Robert', 61130),
 (1927, 'Robert', 61671),
 (1928, 'Robert', 60703),
 (1929, 'Robert', 59804),
 (1930, 'Robert', 62149),
 (1931, 'Robert', 60518),
 (1932, 'Robert', 59265),
 (1933, 'Robert', 54223),
 (1934, 'Robert', 55834),
 (1935, 'Robert', 56522),
 (1936, 'Robert', 58499),
 (1937, 'Robert', 61842),
 (1938, 'Robert', 62269),
 (1939, 'Robert', 59653),
 (1940, 'James', 62476),
 (1941, 'James', 66743),
 (1942, 'James', 77174),
 (1943, 'James', 80274),
 (1944, 'James', 76954),
 (1945, 'James', 74460),
 (1946, 'James', 87439),
 (1947, 'James', 94764),
 (1948, 'James', 88589),
 (1949, 'James', 86865),
 (1950, 'James', 86229),
 (1951, 'James', 87261),
 (1952, 'James', 87063),
 (1953, 'Robert', 86247),
 (1954, 'Michael', 88576),
 (1955, 'Michael', 88372),
 (1956, 'Michael', 90665),
 (1957, 'Michael', 92718),
 (1958, 'Michael', 90564),
 (1959, 'Michael', 85224),
 (1960, 'David', 85933),
 (1961, 'Michael', 86917),
 (1962, 'Michael', 85041),
 (1963, 'Michael', 83778),
 (1964, 'Michael', 82642),
 (1965, 'Michael', 81021),
 (1966, 'Michael', 79990),
 (1967, 'Michael', 82440),
 (1968, 'Michael', 81995),
 (1969, 'Michael', 85201),
 (1970, 'Michael', 85291),
 (1971, 'Michael', 77599),
 (1972, 'Michael', 71401),
 (1973, 'Michael', 67842),
 (1974, 'Michael', 67580),
 (1975, 'Michael', 68451),
 (1976, 'Michael', 66947),
 (1977, 'Michael', 67609),
 (1978, 'Michael', 67157),
 (1979, 'Michael', 67742),
 (1980, 'Michael', 68704),
 (1981, 'Michael', 68776),
 (1982, 'Michael', 68244),
 (1983, 'Michael', 68010),
 (1984, 'Michael', 67745),
 (1985, 'Michael', 64924),
 (1986, 'Michael', 64224),
 (1987, 'Michael', 63654),
 (1988, 'Michael', 64150),
 (1989, 'Michael', 65399),
 (1990, 'Michael', 65302),
 (1991, 'Michael', 60793),
 (1992, 'Michael', 54397),
 (1993, 'Michael', 49554),
 (1994, 'Michael', 44472),
 (1995, 'Michael', 41399),
 (1996, 'Michael', 38365),
 (1997, 'Michael', 37549),
 (1998, 'Michael', 36616),
 (1999, 'Jacob', 35367),
 (2000, 'Jacob', 34483),
 (2001, 'Jacob', 32554),
 (2002, 'Jacob', 30579),
 (2003, 'Jacob', 29643),
 (2004, 'Jacob', 27886),
 (2005, 'Jacob', 25837),
 (2006, 'Jacob', 24850),
 (2007, 'Jacob', 24292),
 (2008, 'Jacob', 22603),
 (2009, 'Jacob', 21184),
 (2010, 'Jacob', 22139),
 (2011, 'Jacob', 20378),
 (2012, 'Jacob', 19088),
 (2013, 'Noah', 18266),
 (2014, 'Noah', 19319),
 (2015, 'Noah', 19650),
 (2016, 'Noah', 19154),
 (2017, 'Liam', 18824),
 (2018, 'Liam', 19924),
 (2019, 'Liam', 20555),
 (2020, 'Liam', 19659)]

## 8. The most years at number one
<p>Noah and Liam have ruled the roost in the last few years, but if we scroll down in the results, it looks like Michael and Jacob have also spent a good number of years as the top name! Which name has been number one for the largest number of years? Let's use a common table expression to find out. </p>

In [50]:
%%sql
WITH T2 AS (SELECT b.year, b.first_name, b.num num
                        FROM baby_names  AS b
                        INNER JOIN (SELECT year, MAX(num) max_num
                                    FROM baby_names
                                    WHERE sex = 'M'
                                    GROUP BY 1) AS t1
                        ON t1.year = b.year AND t1.max_num = b.num)
SELECT first_name, COUNT(*) AS top_name
FROM T2
GROUP BY 1 
ORDER BY 2;

 * postgresql:///names
8 rows affected.

[('David', 1),
 ('John', 4),
 ('Liam', 4),
 ('Noah', 4),
 ('James', 13),
 ('Jacob', 14),
 ('Robert', 17),
 ('Michael', 44)]